.gradle/
**/.gradle/

build/
**/build/

bin/
**/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

out/
**/out/

.idea/
**/.idea/
.vscode/
**/.vscode/
*.iml
*.ipr
*.iws

.DS_Store
*.log
tmp/
**/tmp/
*.swp
*.swo

!**/gradle/wrapper/gradle-wrapper.jar
